html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  background-color: #f5f5f4; /* smoke white */
  color: #000;
  overscroll-behavior: none;
}

* {
  box-sizing: border-box;
}

#__next {
  height: 100%;
}
